<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Queue Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>Smart Queue Management System</h1>

        <p class="subtitle">
            Manage your queue smartly and reduce waiting time.
        </p>

        <div class="card">

            <h2>Welcome</h2>

            <p>
                Get your digital token and track your queue status
                without waiting in a physical queue.
            </p>

            <a href="/get-token">
                <button>Get Token</button>
            </a>
            <br><br>

<a href="/admin">
    <button>Admin Dashboard</button>
</a>

<br><br>

<a href="/track-token">
    <button>Track Token</button>
</a>

        </div>

    </div>

</body>
</html>